{
  "openapi": "3.0.3",
  "info": {
    "title": "VidJutsu API",
    "version": "2026-03-25",
    "description": "API for launching managed shortform campaigns on Instagram."
  },
  "servers": [
    { "url": "https://api.vidjutsu.ai" }
  ],
  "security": [
    { "apiKey": [] }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "setup": { "type": "string" }
        },
        "required": ["error", "message"]
      }
    }
  },
  "paths": {
    "/v1/api_keys": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Create API key",
        "description": "Start a Stripe checkout session to purchase credits at $0.10 each.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credits": { "type": "integer", "default": 100, "description": "Number of credits to purchase at $0.10 each." },
                  "email": { "type": "string", "description": "Email for receipt and key recovery." },
                  "successUrl": { "type": "string", "description": "URL to redirect to after payment." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string", "description": "Stripe checkout URL." },
                    "sessionId": { "type": "string", "description": "Session ID for polling /v1/api_keys/status." },
                    "credits": { "type": "integer" },
                    "amount": { "type": "integer", "description": "Total in cents (USD)." }
                  },
                  "required": ["url", "sessionId", "credits", "amount"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/api_keys/status": {
      "get": {
        "operationId": "getApiKeyStatus",
        "summary": "Check API key status",
        "description": "Poll for checkout completion and API key.",
        "security": [],
        "parameters": [
          {
            "name": "session",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Stripe session ID from /v1/api_keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Session status. When completed, returns the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["pending", "completed"] },
                    "apiKey": { "type": "string", "description": "Your API key. Store it securely." },
                    "clientId": { "type": "string" },
                    "balance": { "type": "integer" },
                    "isNew": { "type": "boolean" }
                  },
                  "required": ["status"]
                }
              }
            }
          },
          "400": { "description": "Missing session parameter" }
        }
      }
    },
    "/v1/api_keys/rotate": {
      "post": {
        "operationId": "rotateApiKey",
        "summary": "Rotate API key",
        "description": "Invalidate current key and get a new one.",
        "responses": {
          "200": {
            "description": "New key issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": { "type": "string" },
                    "clientId": { "type": "string" },
                    "message": { "type": "string" }
                  },
                  "required": ["apiKey", "clientId", "message"]
                }
              }
            }
          },
          "401": { "description": "Missing or invalid API key" }
        }
      }
    },
    "/v1/api_keys/recover": {
      "post": {
        "operationId": "recoverApiKey",
        "summary": "Recover API key",
        "description": "Request a recovery email.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get credit balance",
        "responses": {
          "200": {
            "description": "Current balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": { "type": "integer" },
                    "clientId": { "type": "string" }
                  },
                  "required": ["credits", "clientId"]
                }
              }
            }
          },
          "401": { "description": "Missing or invalid API key" }
        }
      }
    },
    "/v1/pricing": {
      "get": {
        "operationId": "getPricing",
        "summary": "Get pricing",
        "description": "Returns credit costs for all operations.",
        "security": [],
        "responses": {
          "200": {
            "description": "Pricing info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscription": {
                      "type": "object",
                      "properties": {
                        "price": { "type": "string" },
                        "includedCredits": { "type": "integer" },
                        "required": { "type": "boolean" }
                      }
                    },
                    "pricePerCredit": { "type": "string" },
                    "maxAccounts": { "type": "integer" },
                    "costs": {
                      "type": "object",
                      "properties": {
                        "accounts.create": { "type": "integer", "example": 990 },
                        "posts.create": { "type": "integer", "example": 36 },
                        "analyze": { "type": "integer", "example": 10 },
                        "scrape": { "type": "integer", "example": 10 },
                        "campaigns.instagram_account": { "type": "integer", "example": 990 },
                        "campaigns.video_slot": { "type": "integer", "example": 36 }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info": {
      "get": {
        "operationId": "getInfo",
        "summary": "API info",
        "description": "Returns API version, all endpoint paths, auth methods, and credit costs.",
        "security": [],
        "responses": {
          "200": {
            "description": "API info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "version": { "type": "string" },
                    "endpoints": { "type": "object" },
                    "auth": { "type": "object" },
                    "credits": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions": {
      "post": {
        "operationId": "createSubscription",
        "summary": "Create subscription",
        "description": "Create a monthly subscription ($59/mo, includes 100 credits).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "successUrl": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Stripe subscription checkout session" }
        }
      }
    },
    "/v1/accounts": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create account",
        "description": "Create a managed Instagram account. Costs 990 credits ($99). Max 3 accounts per user. Warming takes up to 7 days.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": { "type": "string", "enum": ["instagram"], "description": "Platform (only instagram supported)." },
                  "name": { "type": "string", "description": "Account display name." },
                  "username": { "type": "string", "description": "Preferred Instagram handle." },
                  "bio": { "type": "string", "description": "Profile biography." },
                  "profilePictureUrl": { "type": "string", "description": "Profile picture URL." },
                  "linkInBio": { "type": "string", "description": "Link in bio URL." },
                  "country": { "type": "string", "description": "Target country." },
                  "niche": { "type": "string", "description": "Niche keyword for warming." }
                },
                "required": ["platform"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Account creation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["creating"] },
                    "creditsCharged": { "type": "integer", "example": 990 }
                  },
                  "required": ["id", "status", "creditsCharged"]
                }
              }
            }
          },
          "402": { "description": "Insufficient credits" },
          "403": { "description": "Account limit reached (max 3)" }
        }
      },
      "get": {
        "operationId": "listOrGetAccount",
        "summary": "List accounts or get single account",
        "description": "Without ?id: list all accounts. With ?id=acc_xxx: get single account.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Account ID for single lookup."
          }
        ],
        "responses": {
          "200": {
            "description": "Account list or single account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": { "type": "string" },
                          "platform": { "type": "string" },
                          "name": { "type": "string" },
                          "status": { "type": "string", "enum": ["creating", "active", "suspended", "deleted"] }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete account",
        "description": "Soft-delete an account. Sets status to deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Account ID to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["deleted"] }
                  }
                }
              }
            }
          },
          "404": { "description": "Account not found" }
        }
      }
    },
    "/v1/analytics": {
      "get": {
        "operationId": "getAnalytics",
        "summary": "Get account analytics",
        "description": "Get cached analytics for an Instagram account. Refreshed hourly.",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Account ID."
          }
        ],
        "responses": {
          "200": { "description": "Analytics data" },
          "400": { "description": "accountId required or not Instagram" }
        }
      }
    },
    "/v1/analytics/refresh": {
      "post": {
        "operationId": "refreshAnalytics",
        "summary": "Refresh analytics",
        "description": "Force-refresh analytics for an account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": { "type": "string" }
                },
                "required": ["accountId"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Analytics refreshed" }
        }
      }
    },
    "/v1/analytics/videos": {
      "get": {
        "operationId": "getVideoAnalytics",
        "summary": "Get video analytics",
        "description": "Get per-video performance stats for an Instagram account.",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Account ID."
          }
        ],
        "responses": {
          "200": { "description": "Video-level analytics data" }
        }
      }
    },
    "/v1/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload file",
        "description": "Upload a file via raw binary body. Send file bytes directly with Content-Type header. Max 100MB.",
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "url": { "type": "string" },
                    "clientId": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/upload/url": {
      "post": {
        "operationId": "uploadFromUrl",
        "summary": "Upload from URL",
        "description": "Upload a file from an external URL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceUrl": { "type": "string", "description": "URL of media to upload." },
                  "contentType": { "type": "string", "description": "MIME type (e.g. video/mp4)." }
                },
                "required": ["sourceUrl"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "url": { "type": "string" },
                    "clientId": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts": {
      "post": {
        "operationId": "createPost",
        "summary": "Create post",
        "description": "Schedule a post (36 credits) or create a draft (free). Either videoId or videoUrl required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": { "type": "string", "description": "Account ID (required for scheduling, optional for drafts)." },
                  "videoId": { "type": "string", "description": "VidJutsu video ID." },
                  "videoUrl": { "type": "string", "description": "External video URL." },
                  "caption": { "type": "string", "description": "Post caption." },
                  "brief": { "type": "object", "description": "Content brief metadata." },
                  "scheduledAt": { "type": "number", "description": "Unix timestamp for scheduling." },
                  "draft": { "type": "boolean", "description": "Set true to create a free draft." }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["draft"] },
                    "creditsCharged": { "type": "integer", "example": 0 }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Post scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["scheduled"] },
                    "creditsCharged": { "type": "integer", "example": 36 }
                  },
                  "required": ["id", "status", "creditsCharged"]
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrGetPost",
        "summary": "List posts or get single post",
        "description": "Without params: list all posts. With ?id=post_xxx: single post. With ?accountId=acc_xxx: filter by account.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Post ID for single lookup."
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter posts by account."
          }
        ],
        "responses": {
          "200": {
            "description": "Post list or single post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "postId": { "type": "string" },
                          "accountId": { "type": "string" },
                          "videoId": { "type": "string" },
                          "videoUrl": { "type": "string" },
                          "caption": { "type": "string" },
                          "scheduledAt": { "type": "number" },
                          "status": { "type": "string", "enum": ["draft", "scheduled", "posting", "posted", "failed", "cancelled"] }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelPost",
        "summary": "Cancel post",
        "description": "Cancel a draft or scheduled post.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Post ID to cancel."
          }
        ],
        "responses": {
          "200": {
            "description": "Post cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["cancelled"] }
                  }
                }
              }
            }
          },
          "400": { "description": "Post not in cancellable status" },
          "404": { "description": "Post not found" }
        }
      }
    },
    "/v1/posts/assign": {
      "post": {
        "operationId": "assignPost",
        "summary": "Assign draft to account",
        "description": "Assign a draft post to an account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": { "type": "string" },
                  "accountId": { "type": "string" }
                },
                "required": ["postId", "accountId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post assigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": { "type": "string" },
                    "accountId": { "type": "string" },
                    "status": { "type": "string", "enum": ["assigned"] }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/duplicate": {
      "post": {
        "operationId": "duplicatePost",
        "summary": "Duplicate post",
        "description": "Duplicate a post, optionally to a different account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": { "type": "string" },
                  "accountId": { "type": "string", "description": "Target account (defaults to same)." }
                },
                "required": ["postId"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post duplicated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["draft"] }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analyze": {
      "post": {
        "operationId": "analyzeMedia",
        "summary": "Analyze media",
        "description": "Analyze media in critic, verify, or breakdown mode. Costs 10 credits ($1.00).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": { "type": "string", "enum": ["critic", "verify", "breakdown"], "description": "Analysis mode." },
                  "mediaUrl": { "type": "string", "description": "URL of media to analyze." },
                  "mediaType": { "type": "string", "description": "Media type (image or video)." },
                  "context": { "type": "string", "description": "Additional context (critic mode)." },
                  "description": { "type": "string", "description": "Expected description (verify mode)." },
                  "keyframeDescriptions": { "type": "array", "items": { "type": "string" }, "description": "Keyframe descriptions (verify mode)." },
                  "prompt": { "type": "string", "description": "Analysis prompt (breakdown mode)." }
                },
                "required": ["mode", "mediaUrl"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Analysis result (critic/verify modes)" },
          "202": {
            "description": "Analysis started (breakdown mode)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["pending"] },
                    "creditsCharged": { "type": "integer", "example": 10 }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid mode" }
        }
      }
    },
    "/v1/scrape": {
      "post": {
        "operationId": "scrape",
        "summary": "Scrape platform content",
        "description": "Scrape creator data from social platforms. Costs 10 credits ($1.00).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": { "type": "string", "description": "Platform (instagram)." },
                  "action": { "type": "string", "description": "Scrape action (e.g. search)." },
                  "params": { "type": "object", "default": {}, "description": "Action-specific parameters." }
                },
                "required": ["platform", "action"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Scrape result" }
        }
      }
    },
    "/v1/campaigns": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create campaign",
        "description": "Create a campaign in draft status. Reserves credits upfront (990/account + 36/post). Creates placeholder accounts and posts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": { "type": "string", "enum": ["instagram"], "description": "Target platform." },
                  "accountCount": { "type": "integer", "minimum": 1, "maximum": 50, "description": "Number of accounts." },
                  "postsPerAccount": { "type": "integer", "minimum": 1, "maximum": 20, "description": "Post slots per account." },
                  "name": { "type": "string", "description": "Campaign name." },
                  "niche": { "type": "string", "description": "Niche for account warming." },
                  "country": { "type": "string", "description": "Country code." },
                  "accountProfiles": {
                    "type": "array",
                    "description": "Profile config per account.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "username": { "type": "string" },
                        "visibleName": { "type": "string" },
                        "biography": { "type": "string" },
                        "profilePictureUrl": { "type": "string" },
                        "linkInBio": { "type": "string" }
                      }
                    }
                  }
                },
                "required": ["platform", "accountCount", "postsPerAccount"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created in draft status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["draft"] },
                    "creditsCost": { "type": "integer" },
                    "breakdown": { "type": "object" },
                    "accounts": { "type": "array", "items": { "type": "string" } },
                    "posts": { "type": "array", "items": { "type": "string" } }
                  },
                  "required": ["id", "status", "creditsCost", "breakdown", "accounts", "posts"]
                }
              }
            }
          },
          "402": { "description": "Insufficient credits" }
        }
      },
      "get": {
        "operationId": "listOrGetCampaign",
        "summary": "List campaigns or get single campaign",
        "description": "Without ?id: list all campaigns. With ?id=cmp_xxx: get single campaign with accounts and posts.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Campaign ID for single lookup with progress."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign list or single campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "description": "Campaign list (no ?id)." },
                    "campaign": { "type": "object", "description": "Single campaign (with ?id)." },
                    "accounts": { "type": "array", "description": "Campaign accounts (with ?id)." },
                    "posts": { "type": "array", "description": "Campaign posts (with ?id)." }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/execute": {
      "post": {
        "operationId": "executeCampaign",
        "summary": "Execute campaign",
        "description": "Begin campaign execution. Transitions from draft to executing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignId": { "type": "string" }
                },
                "required": ["campaignId"]
              }
            }
          }
        },
        "responses": {
          "202": { "description": "Execution started" },
          "400": { "description": "Campaign not in draft status" }
        }
      }
    },
    "/v1/campaigns/cancel": {
      "post": {
        "operationId": "cancelCampaign",
        "summary": "Cancel campaign",
        "description": "Cancel a campaign and refund all reserved credits.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignId": { "type": "string" }
                },
                "required": ["campaignId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaignId": { "type": "string" },
                    "status": { "type": "string", "enum": ["cancelled"] },
                    "creditsRefunded": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/estimate": {
      "post": {
        "operationId": "estimateCampaign",
        "summary": "Estimate campaign cost",
        "description": "Preview campaign credit cost. No authentication required.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": { "type": "string", "enum": ["instagram"] },
                  "accountCount": { "type": "integer", "minimum": 1, "maximum": 50 },
                  "postsPerAccount": { "type": "integer", "minimum": 1, "maximum": 20 }
                },
                "required": ["platform"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost estimate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": { "type": "integer" },
                    "breakdown": { "type": "object" }
                  },
                  "required": ["credits", "breakdown"]
                }
              }
            }
          }
        }
      }
    }
  }
}
